{{ attach_library('songs/songs_style') }}
{{ attach_library('songs/songs_player') }}

<div id="audio-container" data-url="{{ url }}">
</div>

<div class="playlist">
    <ul>
    {% for song in songs %}
        <div>
            <li 
                class="list-item-song" 
                data-fn="{{ song.name }}"
                data-playing="false"
            >{{ song.name }}</li>  
        </div>
    {% endfor %}
    </ul>
</div>

{% if prev %}
<a href="?page={{ page - 1 }}">Previous</a>
{% endif %}

{% if next %}
<a href="?page={{ page + 1 }}">Next</a>
{% endif %}

<p>Page: {{ page }}</p>
