{{ attach_library('songs/songs_style') }}
{{ form }}
<div class="playlist">
    <ul>
    {% for song in songs %}
        <div>
            <li>{{ song.name }}
            <a href="{{ path('songs.delete', {'id': song.id}) }}">Delete</a>             
            </li>   
        </div>
    {% endfor %}
    </ul>
</div>

{% if prev %}
<a href="{{ path('songs.admin', {'page': page - 1}) }}">Previous</a>
{% endif %}

{% if next %}
<a href="{{ path('songs.admin', {'page': page + 1}) }}">Next</a>
{% endif %}
